/** @format */
@import './color';

// Main
.main-wrapper {
    height: 100vh;
}

.navigation {
    display: flex;
    z-index: 100;
    position: sticky;
    top: 0px;
    height: 60px;
    line-height: 60px;
    background-color: $glp_light_green;
    color: $glp_dark_green;

    .active {
        color: red;
        font-size: 2em;
    }
}

// Footer
.footer {
    height: 60px;
    background-color: $glp_light_green;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: sticky;
    top: calc(100vh - 60px);

    @media screen and (max-width: 500px) {
        height: 100px;
        flex-direction: column;
    }

    .footer_social_media {
        flex: 1;
        display: flex;
        color: $glp_white;
        margin-left: 70px;

        a {
            margin: 10px 10px;
            border: 2px solid $glp_white;
            display: flex;
            padding: 10px;
            border-radius: 10px;

            &:hover {
                background-color: $glp_white;
                color: $glp_light_blue;
            }
        }

        @media screen and (max-width: 500px) {
            margin-left: 0px;
        }
    }

    .footer_personal_info {
        flex: 1;
        color: $glp_white;
    }
}
